/.github/
/tests/
/examples/
/sdl/
/build/
/dist/
/publish/
/scripts/clean.mjs
/scripts/install-deps-mac.sh
/scripts/install-deps-raspbian.sh
/scripts/install-deps-ubuntu.sh
/scripts/release-rpi-qemu.sh
/scripts/release.mjs
/scripts/upload-release.mjs
