name: Build and upload binaries

on: workflow_dispatch

jobs:
  build:
    name: Build and upload

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - id: npm-cache
        run: echo "::set-output name=dir::$(npm config get cache)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.npm-cache.outputs.dir }}
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-npm-

      - run: npm install
      - run: npm run prebuild
      - run: npx prebuild --upload-all ${{ secrets.GITHUB_TOKEN }}
